name: styleai
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.19.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  image_picker: ^1.1.2
  dotted_border: ^2.1.0
  flutter_markdown: ^0.7.3
  google_generative_ai: ^0.4.4
  url_launcher: ^6.3.2
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2
  supabase_flutter: ^2.10.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true